<?xml version="1.0" encoding="UTF-8"?>
<web-app>


<servlet>
<servlet-name>ServletDateTime</servlet-name>
<servlet-class>com.datetime.ServletDateTime</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletDateTime</servlet-name>
<url-pattern>/datetime</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ServletHtmlCommunication</servlet-name>
<servlet-class>com.htmlcommunication.ServletHtmlCommunication</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletHtmlCommunication</servlet-name>
<url-pattern>/servletcommunication</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Refresh</servlet-name>
<servlet-class>com.refresh.Refresh</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Refresh</servlet-name>
<url-pattern>/refreshurl</url-pattern>
</servlet-mapping>

</web-app>